/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.nav-list-item {
  padding: 33px 20px;
  float: left;
}

.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  float: left;
}

.main {
  padding: 100px 80px;
}

h1 {
  font-size: 140px;
}

span {
  color: red;
}

.main-div {
  font-size: 60px;
}

.content {
  height: 500px;
  margin-top: 100px;
}

.content-title {
  border-bottom: solid 2px #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
  font-size: 28px;
}

.content-item {
  float: left;
  margin-right: 40px;
}

.consten-item-plain {
  margin-top: 30px;
  font-size: 24px;
}

.content-form {
  margin-top: 100px;
}

.content-form-title {
  border-bottom: solid 2px #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
  font-size: 28px;
}

.input-mail {
  border: solid 2px #dee7ec;
  padding: 20px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.input-text {
  border: solid 2px #dee7ec;
  padding: 20px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.submit-button {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #dee7ec;
  border: solid 1px #dee7ec;
  color: #889eab;
  font-size: 18px;
}